<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>TailLog Login</title>
	<% if @refresh %>
		<meta http-equiv="refresh" content="5"/> 	
	<% end %>
	
	<style type="text/css" media="screen">
		<%= render :partial => 'tail_log.css' %>
	</style>

</head>

<body>

	<div class="tail_log">
	
		<div class="tail_log_filter">
			<strong>TailLog Login</strong>
		</div>
		<hr/>
		 <div class='tail_log_subtext'>Please enter the TailLog.login and TailLog.password provided in your environment.rb</div>
	
		<div class="tail_log_results" style='padding-left: 20px'>
			<form id="tail_log_form" action='/tail_log'>
				Login: <%= text_field_tag :login %> &nbsp;
				Password: <%= password_field_tag :password %>
				<%= submit_tag('Submit') %>
			</form>
		</div>
	</div>
</body>